/* css reset */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url('img/cork.png');
}

.main-title{
    text-align: center;
    font-family: 'Edu Tas Beginner', sans-serif;
    font-size: 5em;
}

header{
    background-image: url(img/wall.png);
    padding: 1em;
}

.card-container{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    max-width: 1050px;
    margin: 50px auto;
}

.pin{
    position: absolute;
    top: 7px;
    left: 50%;
    /* Sposta l'immagine indietro di metà della sua larghezza e in su di metà della sua altezza */
    transform: translate(-50%, -50%); 
    width: 30px; 
    /* Assicura che la puntina stia sopra gli altri elementi */
    z-index: 1;     
}

.card{
    position: relative;
    background-color: white;
    width: 300px;
    padding: 15px;
    box-shadow: 0px 0px 10px 0px;
}

.photo-card {
    width: 100%;
    height: 250px;
    object-fit: cover;
    cursor: pointer;
}

.photo-details h3{
    font-family: 'Edu Tas Beginner', sans-serif;
    font-size: 30px;
}

.photo-date{
    display: block;
    font-family: 'Sometype Mono', monospace;
    color: grey;
    font-size: 0.9em;
    margin-bottom: 5px;
}

/*hover*/
.card, .pin {
    transition: all 0.4s ease-in-out;
}

.card:hover {
    transform: scale(1.05) rotate(10deg);
    box-shadow: 5px 5px 15px 5px;
    z-index: 2;
}
.card:hover .pin{
    opacity: 0;
    transform: translate(-50%, -150%);

}

/*overlay*/

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex; /* visibile per ora */
    justify-content: center;
    z-index: 100;
}

.overlay-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

#overlay-image { 
  display: block;
  max-width: 600px;
  max-height: 80vh;
}

#overlay-close {
    border: 1px solid black;
    padding: 5px 10px;
    font-size: 1.5rem;
    cursor: pointer;
}