/* css reset */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url('img/cork.png');
}

.main-title{
    text-align: center;
    font-family: 'Edu Tas Beginner', sans-serif;
    font-size: 5em;
}

header{
    background-image: url(img/wall.png);
    padding: 1em;
}

.card-container{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    max-width: 1050px;
    margin: 50px auto;
}

.pin{
    position: absolute;
    top: 7px;
    left: 50%;
    /* Sposta l'immagine indietro di metà della sua larghezza e in su di metà della sua altezza */
    transform: translate(-50%, -50%); 
    width: 30px; 
    /* Assicura che la puntina stia sopra gli altri elementi */
    z-index: 10;     
}

.card{
    position: relative;
    background-color: white;
    width: 300px;
    padding: 15px;
    box-shadow: 0px 0px 10px 0px;
}

.photo-card {
    width: 100%;
    height: 250px;
}

.photo-details h3{
    font-family: 'Edu Tas Beginner', sans-serif;
    margin-top: 15px;
    font-weight: normal;

}